<div class="equipment-selection">
	<div id="equipment-container" class="equipment-container">
		<div class="loading">
			<i class="fas fa-spinner fa-spin"></i>{{localize "equipment-selector.loading"}}
		</div>
	</div>
</div>
