<div class="equipment-actions">
	<button type="submit" class="confirm-button">
		<i class="fas fa-check"></i> Add Equipment
	</button>
	<button type="button" class="cancel-button" data-action="cancel">
		<i class="fas fa-times"></i> Cancel
	</button>
</div>
