<div class="equipment-actions equipment-selector-footer">
  <button type="submit" class="confirm-button">
    <i class="fas fa-check"></i>{{localize 'equipment-selector.button.add-equipment'}}
  </button>
</div>
